h1 {
	font-family: 'Cormorant', serif;
	color: #f9f5dc;
	text-decoration: none;
	font-size: 40px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #f9f5dc;
	text-decoration: none;
	font-size: 18px;
}

.cta {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #f9f5dc;
	text-decoration: none;
	font-size: 14px;
	background-color: #363fd8;
	border-radius: 30px;
	width: 100px;
	align-items: center;
	display: block;
	margin: 0px;
	padding: 0px;
}


h3 {
	font-family: 'Montserrat', sans-serif;
	color: #f9f5dc;
	text-decoration: none;
	font-size: 14px;
	background-color: #363fd8;
	border-radius: 30px;
}


.cta:hover {
	background-color: #ef9635;
}

.hero-cta {
	max-height: 40px;
}

h4 {
	font-family: 'Cormorant', serif;
	color: #111642;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #111642;
	text-decoration: none;
	font-size: 12px;
}

body {
	background-color: #f9f5dc;
}

.container {
	padding: 2rem;
}

nav {
	background-color: #2d4c0d;
	width: 100%;
	height: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
  	margin-top: 1rem;
  	margin-bottom: 1rem;
  	align-items: center;
}

.nav-left {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	width: auto;
}

.nav-right {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
	width: auto;
}


.logo {
	width: auto;
	height: 90%;
	margin-top: 2px;
}


.hamburger, #hamburger-open {
	width: auto;
	height: 60%;
	padding: 1rem;
	cursor: pointer;

}

.hamburger:hover {
	cursor: pointer;
}

.nav-right-desktop {
	display: none;
}

.topic-columns {
	display: none;
}

/*mobile menu*/
#menu {
  box-shadow: 0 0 2rem rgba(0,0,0,.1); 
  display: none;
  position: absolute;
  width: auto;
  z-index: 10;
  text-align: right;
  list-style: none;
  right: 0px;
  top: 80px;
  animation: rightslide 1s;
}

.mobile-about {
	list-style: none;
	background-color: #ef9635;
	padding: 20px;
	animation: rightslide 1s;
}

.mobile-class {
	list-style: none;
	background-color: #363fd8;
	padding: 20px;
}

.mobile-contact {
	list-style: none;
	background-color: #2d4c0d;
	padding: 20px;
}


@keyframes rightslide {
0%   { opacity: 0; }
  100% { opacity: 1; }
  
}
/*desktop navigation*/
@media (min-width: 768px) {

#menu {
  display: none;
}

 .hamburger {
	display: none;
}

.nav-right {
	display: none;
}

nav {
	background-color: #2d4c0d;
	width: 100%;
	height: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
  	margin-top: 1rem;
  	margin-bottom: 1rem;
  	align-items: center;
}

.nav-left {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	width: auto;
}

.nav-right-desktop {
	display:flex;
	justify-content: flex-end;
	align-items: center;
}

.desktop-list {
	list-style: none;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px;
	white-space: nowrap;
  	overflow: hidden;
}

.desktop-list-item:hover {
	text-decoration: underline #ef9635 2px;

}


.hero-container {
	background-image: url("img/hero.jpg");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 400px;
	width: auto;
	text-align: left;
}

.topic-rows, .topic-icons, .icons, .topic-copy, .copy {
	display: none;
}

.topic-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: .1rem;
	justify-content: center;
	align-items: baseline;
}


.column-list-1, .column-list-2, .column-list-3 {
 list-style: none;
 padding: .5rem;
 line-height: 18px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

#cta-lm {
	align-self: center;
}

.one {
	background-image: url("img/one.jpg");
	background-size: cover;
	background-position: center;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

.two {
	background-image: url("img/two.jpg");
	background-size: cover;
	background-position: center;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

.three {
	background-image: url("img/three.jpg");
	background-size: cover;
	background-position: center top;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

.one:hover {
	/*background-color: #363fd8;*/
	background-image: linear-gradient(#2d4c0d, #363fd8, #ef9635);
	background-size: cover;
	background-position: center top;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

.two:hover {
	/*background-color: #363fd8;*/
	background-image: linear-gradient(#2d4c0d, #363fd8, #ef9635);
	background-size: cover;
	background-position: center top;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

.three:hover {
	/*background-color: #363fd8;*/
	background-image: linear-gradient(#2d4c0d, #363fd8, #ef9635);
	background-size: cover;
	background-position: center top;
	color: #ef9635;
	height: 250px;
	width: auto;
	text-align: center;
	padding: .5rem;
}

h4 {
	color: white;
}

}


/*end desktop */

a {
	font-family: 'Cormorant', serif;
	color: #f9f5dc;
	text-decoration: none;
	padding: 2rem;
	font-size: 20px;
}


.hero-container {
	background-image: url("img/hero.jpg");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 5rem 5rem 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.topic-rows {
	display: grid;
	grid-template-columns: .2fr .8fr;
	justify-content: flex-start;
	height: auto;

}

.icons{
	display: grid;
	grid-template-rows: 1fr, 1fr, 1fr;
	grid-row-gap: 80px;
	padding-top: 30px;
}

.icon-img {
	width: 60px;
	height: auto;
}

.copy, .icons {
	list-style: none;
}

footer {
	height: auto;
	width: 100%;
	text-align: left;
	background-color: #2d4c0d; 
	font-family: 'Montserrat', sans-serif;
	color: #f9f5dc;
	text-decoration: none;
	font-size: 15px;
	display: inline-block;
	line-height: 30px;
	padding-bottom: -10px !important;
	padding-left: 20px;
}

.social {
	width: 15px !important; 
	height: auto !important;
    margin-left: -25px !important;
    padding-top: -10px !important;
}

.social:hover {
	background-color: #363fd8;
	border-radius: 5px;
}

.year {
	color: #f9f5dc;
}


#menu {
  display: none;
}

/*about page CSS*/
/*.about-hero-container {
	background-image: url("img/about-hero.jpg");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 5rem 5rem 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 400px;
	width: auto;
}*/

/*contact page CSS*/
/*.contact-hero-container {
	background-image: url("img/contact-hero.jpg");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 5rem 5rem 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 400px;
	width: auto;
}

.contact-topic-column {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: .5rem;
	justify-content: flex-start;
	color: #f9f5dc !important;
}


.contact-column-list-1 {
background-color: #ef9635;
color: #f9f5dc !important;
 list-style: none;
 padding: .5rem;
 line-height: 18px;
}

.contact-column-list-2 {
background-color: #2d4c0d;
color: #f9f5dc !important;
 list-style: none;
 padding: .5rem;
 line-height: 18px;
}


.contact-column-list-3 {
background-color: #111642;
color: #f9f5dc !important;
 list-style: none;
 padding: .5rem;
 line-height: 18px;
}*/

/*library page CSS*/
.library-hero-container {
	background-image: url("img/library-hero.jpg");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 5rem 5rem 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 400px;
	width: auto;
}

